{% extends "base.html" %} {% block title %}Welcome to QuartFeed{% endblock %} {%
block content %} {% include "navbar.html" %}

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h3>Home</h3>

    <div class="post-form">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success">{{ message }}</div>
      {% endfor %}

      <div class="form-group">
        <label for="post-entry">Post a Message</label>
        <textarea
          name="post"
          class="form-control"
          rows="3"
          placeholder="Say something..."
        ></textarea>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
      <button id="send" class="btn btn-primary">Post</button>

      <div id="posts">
        {% for post in posts %}
        <div class="media" id="post-{{ post.id }}">
          <div class="media-left">
            <a href="{{ url_for("user_app.profile", username=post.username) }}">
              <img class="media-object" src="{{ post.user_image }}" alt="{{ post.username }}">
            </a>
          </div>
          <div class="media-body">
            <a href="{{ url_for("user_app.profile", username=post.username) }}">
              <div class="media-username">@{{ post.username }}</div>
            </a>
            <div class="media-body-text">{{ post.body }}</div>
            <div class="media-body-datetime">{{
              post.datetime }} - {{ post.id }}</div>
          </div>
        </div>
        <hr />
        {% endfor %}
      </div>

      <script type="text/javascript">
        quartBook = {}
        quartBook.cursorId = {{ cursor_id }}
      </script>
      <script
        type="text/javascript"
        src="{{ url_for("static", filename="js/broadcast.js") }}"
      ></script>
    </div>
  </div>
</div>

{% endblock %}
