{% extends "base.html" %} {% block title %}Welcome to QuartFeed{% endblock %} {%
block content %} {% include "navbar.html" %}

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <h3>Home</h3>

    <div class="post-form">
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success">{{ message }}</div>
      {% endfor %}

      <div class="form-group">
        <label for="post-entry">Post a Message</label>
        <textarea
          name="post"
          class="form-control"
          rows="3"
          placeholder="Say something..."
        ></textarea>
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
      <button id="post" class="btn btn-primary">Post</button>

      <div id="posts">
        {% for post in posts %}
        <div class="media" id="post-{{ post.post_uid }}">
          <div class="media-left">
            <a href="{{ url_for("user_app.profile", username=post.username) }}">
              <img class="media-object" src="{{ post.user_image }}" alt="{{ post.username }}">
            </a>
          </div>
          <div class="media-body">
            <a href="{{ url_for("user_app.profile", username=post.username) }}">
              <div class="media-username">@{{ post.username }}</div>
            </a>
            <div class="media-body-text" id="post-text-{{ post.post_uid }}">{{ post.body }}</div>
            <div class="media-body-datetime">
              <span id="post-datetime-{{ post.post_uid }}">{{ post.datetime }}</span>&nbsp;-&nbsp;
              <a class="post-comment-link" data-post-uid="{{ post.post_uid }}" href="#">Comment</a>&nbsp;-&nbsp;
              <a class="post-like-link" data-post-uid="{{ post.post_uid }}" href="#">Like</a>
            </div>
            <div class="media-body-likes-list-{{ post.post_uid }}-" style="display: {% if post.likes|length %}block{% else %}none{% endif %}">
              <span class="likes-label">Liked by</span>:
              <span class="likes-list" id="span-likes-list-{{ post.post_uid }}">
              {% for like in post.likes %}
              <span class="likes-list-item" id="span-likes-list-item-{{ like.like_uid }}">
                <a href="{{ url_for("user_app.profile", username=like.username) }}">
                  <span>{{ like.username }}</span>
                </a>
              </span>
              {% endfor %}
              </span>
            </div>
            <div class="media-body-comments-list">
              <ul id="post-{{ post.post_uid }}-comment-list">
                {% for comment in post.comments %}
                <li id="comment-{{ post.post_uid }}-li">
                  <span>{{ comment.body }}</span>&nbsp;-&nbsp;
                  <a href="{{ url_for("user_app.profile", username=comment.username) }}">
                    <span>{{ comment.username }}</span>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="media-body-comment-entry" id="post-{{ post.post_uid }}-comment" style="display: none">
              <textarea
                name="post-comment"
                class="form-control"
                id="post-{{ post.post_uid }}-comment-text"
                rows="3"
                placeholder="Add your comment"></textarea>
              <button data-post-uid="{{ post.post_uid }}" class="btn btn-primary post-comment-btn">Post</button>
            </div>            
          </div>
        </div>
        <hr />
        {% endfor %}
      </div>

      <script type="text/javascript">
        quartBook = {}
        quartBook.cursorId = {{ cursor_id }}
      </script>
      <script
        type="text/javascript"
        src="{{ url_for("static", filename="js/broadcast.js") }}"
      ></script>
    </div>
  </div>
</div>

{% endblock %}
