[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.720"
pylint = "*"

[packages]
quart = "==0.14.1"
python-dotenv = "==0.10.1"
aiomysql = "==0.0.21"
databases = "==0.4.1"
sqlalchemy = "==1.3"
alembic = "==1.0.10"
pytest = "==6.2.1"
pytest-asyncio = "==0.14.0"
passlib = "==1.7.1"
wand = "==0.6.2"
arrow = "==0.16.0"

[requires]
python_version = "3.8"
