{% extends "base.html" %} {% block title %}Registration{% endblock %} {% block
content %} {% include "navbar.html" %}

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <h3>Registration</h3>
    {% if error %}
    <div class="text-danger">{{ error }}</div>
    {% endif %}
    <form method="POST" action="{{ url_for('.register') }}" role="form">
      <div class="form-group">
        <label for="userUsername">Username</label>
        <input
          name="user_username"
          type="text"
          class="form-control"
          id="userUsername"
          value="{% if user_username %}{{ user_username }}{% endif %}"
          placeholder="Select a username"
        />
      </div>
      <div class="form-group">
        <label for="userPassword">Password</label>
        <input
          name="user_password"
          type="password"
          class="form-control"
          id="userPassword"
          placeholder="Password"
        />
      </div>
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />
      <button type="submit" class="btn btn-default">Register</button>
    </form>
  </div>
</div>

{% endblock %}
